<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chỉnh sửa dịch vụ</title>
</head>
<body>
<h2>Chỉnh sửa dịch vụ</h2>

<form th:href="@{/service-item/{id}/edit(id=${serviceitem.id})}" th:object="${serviceitem}" method="post">
    <label>ID:</label>
    <input type="text" th:field="*{id}" readonly/>

    <label>Tên:</label>
    <input type="text" th:field="*{serviceName}" required/>

    <label>Hình ảnh:</label>
    <input type="text" th:field="*{serviceImage}" required/>

    <button type="submit">Lưu thay đổi</button>

</form>


<a th:href="@{/service-item}">Quay lại</a>
</body>
</html>
